html {
  /* overflow-x: hidden; */
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  min-height: 100vh;
  background-color: lightgrey;
  background-image: linear-gradient(to bottom, transparent, darkgrey)

}
body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* profile jumbotron */
/* profile jumbotron */
/* profile jumbotron */

.profile-jumbo{
  padding: 2rem 0 !important;
  text-justify: center;
  color: white;
  background-color: rgb(254, 37, 37) !important;
  background-image: radial-gradient(transparent, rgb(174, 2, 2));
  border-radius: 0 !important;
}

.jumbo-header {
  position: relative;
}

.jumbo-header button {
  position: absolute;
  right: 0;
  transform: scale(0.75);
  vertical-align: 1em;
  margin-left: 1em;
}
.profile-jumbo h1 {
  display: inline-block;
}

.web-link a {
  color: orange;
}

/* about me card css */
/* about me card css */
/* about me card css */

.about-me-card-title {
  position: relative;
}

.about-me-card-title button {
  position: absolute;
  right: -2.6em;
  top: 0;
}

.about-me-card-text {
  position: relative;
}

.about-me-card-text button {
  position: absolute;
  right: -3em;
  top: 0;
}

/* masonry box css */
/* masonry box css */
/* masonry box css */
.masonry-box {
  display: flex;
}

.row {
  width: 100% !important;
}



@media only screen and (max-width: 768px) {
  .masonry-box{
    display: block;
  }
}
