html {
  /* overflow-x: hidden; */

}

* {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Righteous', cursive;
}


body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  min-height: 100vh;
  background-color: lightgrey;
  background-image: linear-gradient(to bottom, transparent, darkgrey)

}

.btn {
  border: solid orange 0.1em !important;
  border-radius: .5em !important;
}

.btn-primary{
  background-color: rgb(86, 86, 242) !important;
}

.btn-primary:hover {
  background-color: rgb(42, 42, 242) !important;
}

body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* profile jumbotron */
/* profile jumbotron */
/* profile jumbotron */

.jumbotron{
  padding: 2rem 0 !important;
  text-justify: center;
  color: white;
  background-color: rgb(254, 37, 37) !important;
  background-image: radial-gradient(transparent, rgb(174, 2, 2));
  border-radius: 0 !important;
}

.jumbo-header h1 {
  position: relative;
}

.jumbo-header button {
  background-color: #5656f2;
  border: .1em solid #ffffff !important;
  color: #ffffff;
  position: absolute;
  right: -4em;
  bottom: .5em;
  transform: scale(0.75);
  vertical-align: 1em;
}

.profile-jumbo h1 {
  display: inline-block;
}

.web-link a {
  color:#ffffff;
}

/* about me profile card css */
/* about me profile card css */
/* about me profile card css */

.portfolio-card {
  border-radius: 0.5em !important;
  overflow: hidden;
}

.about-me-card-title span {
  position: relative;
}

.about-me-card-title button {
  position: absolute;
  top: -0.5em;
  right: -3rem;
  transform: scale(0.75);
}

.about-me-card-text {
  position: relative;
}

.about-me-card-text button {
  position: absolute;
  /* right: -3em; */
  /* top: 0; */
}

/* masonry box css */
/* masonry box css */
/* masonry box css */
.masonry-box {
  display: flex;
}

.row {
  position: relative;
  width: 100% !important;
}

.attendee-list {
  border-bottom: .1em solid #dfdfdf;
  border-top: .1em solid #dfdfdf;
  max-height: 50%;
  overflow-y: auto;
}

.attendee-list-shadow {
  padding-bottom: 2em;
}



@media only screen and (max-width: 768px) {
  .map-col > div {
    width: 100%;
    height: 100vw;
    transition: none;
  }
  /* #chatBox {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #chatBox:hover {
    position: relative;
    width: 100%;
    height: 100%;
    transition: none;
  
  }

  .map-col > div:hover {
    transform: none;
    width: 100%;
  } */

  .masonry-box {
    display: block;
  }

  .masonry-box > div {
    width: 100% !important;
  }
}

.event-button{
  transform: scale(0.75);
}

.event-col{
  z-index: -1;
}

.event-sidebar {
  position: sticky !important;
  top: 0 !important;
}
