.nav-tabs {
  position: relative;
}

.nav-link button {
  margin-right: .5em;
  margin-top: .1em;
}

.log-out:hover {
  text-decoration: none !important;
}

.nav-link.active {
  color: white !important;
  background-color:  rgb(189, 2, 2) !important;
  border-bottom: rgb(189,2,2) !important;
  padding-bottom: 0.6em;
}
