.nav-tabs {
  position: relative;
  align-items: center;
  background-color: lightgray;
}

.log-out {
  margin-right: .5em;
  margin-top: .1em;
}

.log-out:hover {
  text-decoration: none !important;
}

.nav-item {
  height: 2.8em;
}

.nav-item img {
  background-color: #ffffff;
  width: auto;
  height: 100%;
}

.nav-link {
  height: 100%;
}

.nav-link.active {
  color: white !important;
  background-color:  rgb(189, 2, 2) !important;
  border-color: rgb(189,2,2) !important;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 0 !important;
}