.event-item {
  margin-bottom: 1em;
}

.event-item:last-child {
  margin-bottom: 0;
}

.event-image {
  object-fit: cover;
  height: 150px;
  width: 200px;
}

.attendee-count {
  border-radius: 50%;
  border: .1em solid #bd0202;
  box-sizing: content-box;
  color: #bd0202;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: .5em;
  text-align: center;
  vertical-align: top;
  width: 1.5rem;
}

.media-div::after {
  content: "";
  display: block;
  margin: 5px auto 15px auto;
  width: 100%;
  border-bottom: lightgray 1px solid;
}

.media-div:last-of-type::after {
  content: "";
  display: block;
  margin: 0;
  width: 80%;
  border-bottom: none;
}